*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    color:  #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 14px 30px;
    background: #FD6E0A;
}
/* nav related style start*/

nav{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
    text-align: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* nav related style end*/